<div class="container">
  <h2>ユーザー登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :名前 %>:2~20文字<br />
      <%= f.text_field :name, autofocus: true, placeholder: "名前",class:"name"%>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, placeholder: "メールアドレス",class:"email"%>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード",class:"password"%>
    </div>

    <div class="field">
      <%= f.label :パスワード確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",placeholder:"パスワード確認",class:"password_confirm"%>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "登録",class:"btn btn-primary" %>
    </div>
  <% end %>
</div>